html {
    font-size: 20px;
}

.sign-in {
    background-image: url('../img/bg.jpg');
    height: 90vh;
}







.row {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    position: relative;
    
    top: 2rem;
    
}

#navbarNav {
    align-content: space-around;
    justify-content: space-between;
}

#navbar-custom {
    background-color: white;
    background-color: white;
    padding: .2rem 1.4rem;
    border-radius: 1.3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
#climbing {
    padding-right: 0rem;  
    padding-left: 1rem;
}

.nav-link {
    
     color: rgb(0, 64, 128)!important;
}

.justify-content-end {
    margin-left: 0rem;
}

#twitter-icon {

    padding: .5rem 0rem;
    margin: 0rem;
}

#central-text {
    padding-top: 4rem;
    @import url('https://fonts.googleapis.com/css?family=Lora');
    font-family: 'Lora', serif;
}

#btn-go {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: rgb(0, 64, 128);
}



.footer-block {
    background-color: white;
    height: 60vh;
}

#smalltext {
    font-size: .8rem;
    @import url('https://fonts.googleapis.com/css?family=Lora');
    font-family: 'Lora', serif;
} 

#test {
    background: red;
}

